/* цвет основного текста #212121*/
/* вторичный цвет #757575*/
/* белый #757575*/
/* цвет ссылок при навидении #2196F3*/
/* цвет тел и мыла в футоре rgba(255, 255, 255, 0.6) */
/* цвет кем залито в конце rgba(255, 255, 255, 0.4)*/
/* цвет кнопок #F5F4FA*/
/*белый #FFFFFF*/
:root {
  --primari-text-color: #212121;
  --color-button: #f5f4fa;
  --color-hover: #2196f3;
  --color-white: #ffffff;
}

body {
  background-color: #ffffff;
  color: var(--primari-text-color);
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: #757575;
}
.hero-title {
}
.section-title {
  color: var(--primari-text-color);
}
.list {
  list-style: none;
}
.logo-header {
  color: var(--color-hover);
  font-size: 26px;
}
.logo-header-studio {
  color: #000000;
}
.logo-footer {
  color: var(--color-hover);
  font-size: 22px;
}
.logo-footer-studio {
  color: white;
}
header {
  background-color: #ffffff;
}
.site-nav a {
  color: var(--primari-text-color);
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--color-hover);
}
.site-nav .link.current {
  color: var(--color-hover);
}
.contact-nav-mail a {
  color: var(--color-hover);
}
.contact-nav-tel a {
  color: #757575;
}

footer {
  background-color: #2f303a;
}
.page-footer-address {
  color: #ffffff;
}
.page-footer-mail {
  color: rgba(255, 255, 255, 0.6);
}
.page-footer-tel {
  color: rgba(255, 255, 255, 0.6);
}
.page-footer-goin {
  color: #ffffff;
}
.page-footer-sub {
  color: #ffffff;
}
.page-footer-end {
  color: rgba(255, 255, 255, 0.4);
}
.button-first {
  color: var(--color-white);
  background-color: var(--color-hover);
}
.button-second {
  color: var(--primari-text-color);
  background-color: var(--color-button);
}
